
              <div class="col-lg-5" style="width: 100%;height: 100%;">
                <div class=>
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                    </div>
                    <div class="card-body">
                      
                      <p><strong>We accept</strong></p>
                      <a href="#!" type="submit" class="text-white" style="color: red;"
                      ><i class="fab fa-cc-paypal fa-2x" style="color: red;"></i>
                      </a>
                  </div>
                    <form class="mt-4">
                     
                      
                      

                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeText"
                          >Card Number</label
                        >
                        <input
                          type="text"
                          id="typeText"
                          class="form-control form-control-lg"
                          siez="17"
                          placeholder="1234 5678 9012 3457"
                          minlength="19"
                          maxlength="19"
                        />
                      </div>
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeName" 
                          >Ticket Type</label
                        >
                        <input
                          type="text"
                          id="typeName"
                          class="form-control form-control-lg"
                          siez="17"
                          readonly 
                          style="background-color: white;"
                          value="{{this.data.ticket.ticketType}} Access Ticket"
                        />
                        </div>
                    </form>

                    <hr class="my-4"  style="color: red; size: 3px;"/>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2"
                    
                     style="font-weight: bold;"
                      >Ticket Price:-</p>
                      <p class="mb-2" style="font-weight: bold;color: red;">{{this.data.ticket.ticketPrice}}$</p>
                    </div>
                  
                    

                    <button
                      type="button"
                      class="btn btn-info btn-block"
                      style="
                        background-color: rgb(243, 38, 38);
                        border: 6px;
                        text-decoration-color: red;
                      "
                      (click)="buyNow()"
                    >
                      Buy Now
                    </button>
                    <button
                      type="button"
                      class="btn btn-info btn-block"
                      style="
                        background-color: rgb(206, 197, 197);
                        border: 6px;
                        text-decoration-color: rgb(201, 195, 195);
                      "
                      (click)="cancel()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>

