<div class="col-lg-5" style="width: 100%;height: 100%;">
  <div class=>
    <div class="card-body">
      <div
        class="d-flex justify-content-between align-items-center mb-4"
      >
      </div>
      <form class="mt-4">
        <div class="form-outline form-white mb-4">
          <label class="form-label" for="typeName" 
            >Ticket Type</label
          >
          <input
            type="text"
            id="typeName"
            class="form-control form-control-lg"
            siez="17"
            readonly 
            style="background-color: white;"
            value="{{this.data.ticket.ticketType}} Access Ticket"
          />
          </div>
      </form>

      <hr class="my-4"  style="color: red; size: 3px;"/>

      <div class="d-flex justify-content-between mb-4">
        <p class="mb-2"
      
       style="font-weight: bold;"
        >Ticket Price:-</p>
        <p class="mb-2" style="font-weight: bold;color: red;">{{this.data.ticket.ticketPrice}}$</p>
      </div>
    
      

      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      <button
        type="button"
        class="btn btn-info btn-block"
        style="
          background-color: rgb(234, 36, 36);
          border: 6px;
          text-decoration-color: rgb(201, 195, 195);
        "
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
