<!-- ======= Hotels Section ======= -->
<section id="hotels" class="section-with-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Hotels</h2>
      <p>Her are some nearby hotels</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div *ngFor="let item of hotels" class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img [src]="item.hotelImage" alt="Hotel 1" class="img-fluid" />
          </div>
          <h3>
            <a href="#">{{ item.hotelName }}</a>
          </h3>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <p>{{ item.hotelAddress }}</p>
          <p><b>Contact</b>: {{ item.hotelContactinfo }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hotels Section -->
