<mat-form-field>
  <mat-label>Filter</mat-label>
  <input class="filter" matInput (keyup)="applyFilter($event)" placeholder="Ex. Abdelrahman" #input>
</mat-form-field>
<p>
  <mat-toolbar>
    <span>Appointments</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="addButton" (click)="openAddAppointmentForm()">Add Appointment</button>
  </mat-toolbar>
</p>


<div class="mat-elevation-z8">
  <mat-table [dataSource]="appointments" matSort>

    <!-- Doctor Column -->
    <mat-row matColumnDef="Doctor">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.doctor.firstName + " " + row.doctor.lastName}} </mat-cell>
    </mat-row>

    <!-- Clinic Column -->
    <mat-row matColumnDef="Clinic">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Clinic </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.clinic.location.city}} </mat-cell>
    </mat-row>

    <!-- Date Column -->
    <mat-row matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
    </mat-row>

    <!-- Starts Column -->
    <mat-row matColumnDef="Starts">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Starts </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.timeFrom}} </mat-cell>
    </mat-row>

    <!-- Ends Column -->
    <mat-row matColumnDef="Ends">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ends </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.timeTo}} </mat-cell>
    </mat-row>

    <!-- Status Column -->
    <mat-row matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.booked}} </mat-cell>
    </mat-row>

    <!-- Patient Column -->
    <mat-row matColumnDef="Patient">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Patient </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.patient?.firstName + " " + row.patient?.lastName}} </mat-cell>
    </mat-row>

    <!-- Edit Column -->
    <mat-row matColumnDef="Edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="update(row._id)"><mat-icon class="text-warning">edit</mat-icon></button>
      </mat-cell>
    </mat-row>

    <!-- Delete Column -->
    <mat-row matColumnDef="Delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="remove(row._id)"><mat-icon class="text-secondary">delete</mat-icon></button>
      </mat-cell>
    </mat-row>

    <mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <mat-row class="mat-row" *matNoDataRow>
      <mat-cell class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</mat-cell>
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>