<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    class="filter"
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Ahmed"
    #input
  />
</mat-form-field>
<p>
  <mat-toolbar>
    <span>Hotels</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="addButton" (click)="openAddHotelForm()">
      Add New Hotel
    </button>
  </mat-toolbar>
</p>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="hotels" matSort>
    <!-- Hotel Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">
        {{ row.id }}
      </td>
    </ng-container>

    <!-- Hotel Name Column -->
    <ng-container matColumnDef="HotelName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hotel Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.hotelName }}
      </td>
    </ng-container>

    <!-- Hotel Address From Column -->
    <ng-container matColumnDef="HotelAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hotel Address</th>
      <td mat-cell *matCellDef="let row">{{ row.hotelAddress }}</td>
    </ng-container>

    <!-- Edit & Delete Hotel Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openEditHotelForm(row)">
          <mat-icon class="text-primary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="remove(row.id)">
          <mat-icon class="text-danger">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="detailsId = row.id">
          <mat-icon class="text-warning">info</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <ng-container class="mat-row" *matNoDataRow>
      <td mat-cell class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </ng-container>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
  <hr />
  <app-hotel-details [id]="detailsId"></app-hotel-details>
</div>
