.example-spacer {
  flex: 1 1;
}

.mat-toolbar,
.mat-mdc-paginator {
  background-color: #31365c;
  color: white;
}

table {
  th {
    background-color: #31365c;
    color: white;
    // font-weight: bolder;
    user-select: none;
  }
  td {
    background-color: #f1f4f6;
    text-align: center;
  }
}
table td:hover {
  background-color: #e1dada;
}

.mat-mdc-form-field-type-mat-input {
  width: 100%;
}
