<!-- ======= event Section ======= -->
<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Events</h2>
      <p>Here are some of our Events</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/events/1.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3><a [routerLink]="['details']">Adele Party</a></h3>
            <p>30/06/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="200">
          <img
            src="assets/img/events/2.jpg"
            alt="Speaker 2"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">JUSTIN BIEBER</a></h3>
            <p>Consequuntur odio aut</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="300">
          <img
            src="assets/img/events/3.jpg"
            alt="Speaker 3"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">Amir Eide</a></h3>
            <p>Fugiat laborum et</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/events/4.jpg"
            alt="Speaker 4"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">One Direction</a></h3>
            <p>Debitis iure vero</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="200">
          <img
            src="assets/img/events/5.jpg"
            alt="Speaker 5"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">Adele Party</a></h3>
            <p>Qui molestiae natus</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="300">
          <img
            src="assets/img/events/6.jpg"
            alt="Speaker 6"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">JUSTIN BIEBER</a></h3>
            <p>Non autem dicta</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Speakers Section -->
