<!-- ======= event Section ======= -->
<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Events</h2>
      <p>Here are some of our Events</p>
    </div>

    <div class="row">
      <div *ngFor="let item of events" class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img [src]="item.eventImage" alt="Speaker 1" class="img-fluid" />
          <div class="details">
            <h3>
              <a [routerLink]="'details/' + item.id">{{ item.eventName }}</a>
            </h3>
            <p>{{ item.eventDate | date }}</p>
            <div class="social">
              <a href="https://twitter.com/Aabdelnaser72"
                ><i class="bi bi-twitter"></i
              ></a>
              <a href="https://www.facebook.com/ahmed.abdelnaser.543"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://www.instagram.com/abdelnaser72/"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="https://www.linkedin.com/in/ahmed-abdelnaser-yahya/"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------- Static ----------------------- -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/events/1.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3><a routerLink="details/1">Adele's Party</a></h3>
            <p>30/06/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="200">
          <img
            src="assets/img/events/2.jpg"
            alt="Speaker 2"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">JUSTIN BIEBER</a></h3>
            <p>01/07/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="300">
          <img
            src="assets/img/events/3.jpg"
            alt="Speaker 3"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">Cirokee</a></h3>
            <p>05/07/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/events/4.jpg"
            alt="Speaker 4"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">One Direction</a></h3>
            <p>10/07/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="200">
          <img
            src="assets/img/events/5.jpg"
            alt="Speaker 5"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">Adele's Party</a></h3>
            <p>20/07/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="300">
          <img
            src="assets/img/events/6.jpg"
            alt="Speaker 6"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="speaker-details.html">JUSTIN BIEBER</a></h3>
            <p>30/07/2023</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------- End Static ----------------------- -->
  </div>
</section>
<!-- End event Section -->
