table {
  * {
    text-align: center;
  }
  .tr-head {
    background-color: #eaf3f7;
    th {
      color: #333;
      font-weight: bolder;
      user-select: none;
    }
  }

  .tr-body:hover {
    background-color: #eee;
  }
}
