<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">
      Get ready for an <br />
      <br /><span>unforgettable </span>experience
    </h1>
    <p class="mb-4 pb-0">
      Book your tickets to the best concerts and live shows!
    </p>
    <a
      href="https://www.youtube.com/watch?v=tfY4OfUXiYU&ab_channel=AragornPk10"
      class="glightbox play-btn mb-4"
    ></a>
    <a href="#about" class="about-btn scrollto">About The Event</a>
  </div>
</section>
<!-- End Hero Section -->

<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <h2>About The Event</h2>
        <p>
          Welcome to "The Event" ticketing page, your one-stop destination for
          purchasing tickets to a wide range of concerts and shows. We strive to
          make the ticket-buying experience easy and convenient for you. Here's
          what you can expect from our page
        </p>
      </div>
      <div class="col-lg-3">
        <h3>Where</h3>
        <p>Downtown Conference Center, New York</p>
      </div>
      <div class="col-lg-3">
        <h3>When</h3>
        <p>
          Take a look at <br />
          the available events
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
<app-venue></app-venue>
<app-hotels></app-hotels>
