<!-- ======= Event Details Sectionn ======= -->
<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2>Event Details</h2>
      <p>Praesentium ut qui possimus sapiente nulla.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="details">
          <h2>{{ event.eventName }}</h2>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
          <h2>Event Details</h2>
          <p>{{ event.eventDescription }}</p>
          <p>
            Voluptatem perferendis sed assumenda voluptatibus. Laudantium
            molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias
            ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
          </p>

          <p>
            Aboriosam inventore dolorem inventore nam est esse. Aperiam
            voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore
            dolores minus unde est voluptatum incidunt ut aperiam.
          </p>

          <p>
            Et dolore blanditiis officiis non quod id possimus. Optio non
            commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias
            provident omnis incidunt aut. Eius et officia corrupti omnis error
            vel quia omnis velit. In qui debitis autem aperiam voluptates unde
            sunt et facilis.
          </p>
          <h2>Event Speaker</h2>
          <p>{{ event.speakers }}</p>

          <h2>Event Sponser</h2>
          <p>{{ event.sponsors }}</p>

          <h2>Event Date</h2>
          <p>
            <b>From:</b> <i>{{ event.eventDate | date }}</i> <br />
            <b>To:</b> <i>{{ event.eventTime | date }}</i>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img [src]="event.eventImage" alt="Event 1" class="img-fluid" />
      </div>
    </div>
    <div class="row m-2">
      <div class="col-5"></div>
      <div class="col-3">
        <a class="buy-tickets scrollto" [routerLink]="['/event/ticket']"
          ><b>Book Your Ticket</b>
        </a>
      </div>
    </div>
  </div>
</section>
<app-event-schedule></app-event-schedule>
